@use 'variaveis';
@use 'sobre';
@use 'franquia';
@use 'header';
@use 'footer';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@600&family=Oswald:wght@500&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso garante que o vídeo cubra todo o espaço disponível sem distorção. */
    z-index: -1; /* Coloca o vídeo por trás do conteúdo principal da página. */
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
}

@mixin title($font-size: 40px){
    font-size: $font-size;
    font-family: 'Bebas Neue';
    font-weight: normal;
    color: variaveis.$corDoTitle;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 6px solid variaveis.$bordaTitle;
}

@mixin titleSM($font-size: 14px){
    font-size: $font-size;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    white-space: pre-line;
    text-transform: uppercase;
    text-align: center;
    color: variaveis.$corDoTitle;
    
}

@mixin text($font-size: 1.063em){
    font-size: $font-size;
    line-height: $font-size;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: variaveis.$corParagrafo;
}

@mixin navName($font-size: 25px) {
    font-size: $font-size;
    color: variaveis.$corDoTitle;
    font-family: 'Oswald', sans-serif;
}

.nav--title {
    @include navName()
}

.title {
    @include title
}

.text {
    @include text
}

.title--small {
    @include titleSM
}

ul {
    list-style-type: none;
}

